body {
  display: flex;
  justify-content: center;
}

.addTaskInput {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2rem;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.taskButtons {
  display: flex;
  gap: 5px;
}

.dialog {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 1rem 1rem 1rem;
}

.flex {
  display: flex;
  width: 100%;
  overflow: auto;
}

.done {
  text-decoration: line-through;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  #root {
    width: 90%;
    margin: 0 5%;
  }
}

@media (min-width: 769px) {
  #root {
    width: 80%;
    margin: 0 10%;
  }
}